doctype 5
html(lang="en")
	link(rel="stylesheet/less",type="text/css",href="/styles/dashboard.less")
	include includes/head
	body
		audio(src="/media/dashboard/squish.mp3",id="squish")
		audio(src="/media/dashboard/roar.mp3", id="roar")
		audio(src="/media/dashboard/bite.mp3", id="bite")
		#content
			canvas#mainCanvas

