head
	title JIRA Heroes
	link(rel="stylesheet/less",type="text/css",href="/styles/defines.less")
	link(rel="stylesheet/less",type="text/css",href="/styles/main.less")
	script(src="/lib/less.js")
	script(src="/lib/proton.js")
	script(src="/lib/require.js",data-main="/js/"+entryModule+".js")
