@foreground: #CC333F;
//@background: #777;
@background: #00A0B0;
@background-content: #EDC951;
@background-darker: (@background - #222);
@background-lighter: (@background + #111);
@foreground-darker: (@foreground - #222);
@foreground-lighter: (@foreground + #111);
@canvas-background-color: #EDC951;
@canvas-width: 1000px;
@canvas-height: 800px;
@title-font: '/fonts/Sansation-Regular.ttf';
@title-font-size: 48px;
@title-font-color: #EDC951;
@regular-font: '/fonts/DroidSans.ttf';
@regular-font-color: darken(@background-content, 50%);
@silly-font: '/fonts/helsinki.ttf';
